name: Code Coverage with Codecov

on:
  workflow_call:
    inputs:
      php:
        description: PHP Version to use
        default: 8.1
        required: false
        type: string
      phpunit:
        description: PHPUnit script (phpunit/simple-phpunit)
        required: false
        default: phpunit
        type: string

jobs:
  code-coverage:
    name: Code Coverage
    runs-on: ubuntu-latest
    steps:
      - uses: zenstruck/.github@php-coverage-codecov
        with:
          php: ${{ inputs.php }}
          phpunit: ${{ inputs.phpunit }}
