name: Validate composer.json

on:
  workflow_call:
    inputs:
      php:
        description: PHP Version to use
        default: 8.1
        required: false
        type: string

jobs:
  composer-validate:
    name: Validate composer.json
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ inputs.php }}
          coverage: none

      - name: Validate composer.json
        run: composer validate --strict --no-check-lock
